.Work {
  background-color: #fff;
  margin: 20px;
}
.Container {
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;
}
.Carousel {
  margin: 40px;
  background-color: #fff;
}
.Text {
  background-color: #fff;
}
