.AboutUs {
  background-color: #e5e5e5;
}
@media only screen and (max-width: 500px) {
  .Info {
    margin: 50px;
    text-align: justify;
    line-height: 29px;
  }
  .Carousel {
    margin: 60px;
  }
  .Image {
    /* z-index: -1;*/
    position: relative;
    top: -200px;
    /*margin-top: -200px;*/
  }
}
