@media only screen and (max-width: 500px) {
  .AboutUs {
    background-color: #e5e5e5;
  }
  .Info {
    margin: 50px;
    text-align: justify;
    line-height: 29px;
  }
  .Carousel {
    margin: 60px;
  }
  .Image {
    margin-top: -200px;
    width: 100%;
  }
}
