@media only screen and (max-width: 500px) {
  .AboutUs {
    background-color: #e5e5e5;
  }
  .AboutUs h2{
    padding-top: 10%;
  }
  .Info {
    margin:20px 50px;
    text-align: justify;
    line-height: 29px;
    color: #747474;
  }
  .Carousel {
    margin: 20px;
  }
  .Image {
    margin-top: -200px;
    width: 100%;
  }
  .Work {
    margin: 80px;
    background-color: #fff;
    width: 70%;
  }
}
