.Container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding-top: 40px;
}
.Clients h2 {
  font-size: 50px;
}
.Section {
  display: flex;
  width: 90%;
  margin: auto;
}
.Content {
  margin: 50px;
  width: 25%;
}
.Image {
  width: 150px;
  height: 150px;
}
@media only screen and (max-width: 500px) {
  .Container {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    padding-top: 40px;
    padding: 20px;
  }
  .Section {
    display: flex;
    width: 90%;
    margin: 10px auto;
  }
  .Content {
    margin: 30px;
    width: 22%;
  }
  .Image {
    width: 40px;
    height: 40px;
  }
}
