.Container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding-top: 50px;
  padding-bottom: 40px;
}
.Clients h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
.Section {
  display: flex;
  width: 100%; /*
  margin: auto;
  margin-left: 45px;*/
  align-items: center;
  justify-content: center;
}
.Content {
  margin: 50px;
  width: 25%;
}
.Image {
  width: 120px;
  height: 120px;
}
@media only screen and (max-width: 500px) {
  .Container {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    padding-top: 40px;
    padding: 10px;
  }
  .Section {
    display: flex;
    width: 100%;
    margin: 10px auto;
  }
  .Content {
    margin: 30px;
    width: 22%;
  }
  .Image {
    width: 60px;
    height: 60px;
  }
  .Clients h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }
}
