@media only screen and (max-width: 500px) {
  .Container {
    display: flex;
    flex-direction: column;
    /* margin-top: 80px; */
    background-color: #e5e5e5;
  }

  .Section {
    display: flex;
    width: 90%;
    margin: 5px;
  }
  .Content {
    margin: 10px 50px;
  } /*
  .Content p {
    margin-top: -50px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: left;
  }*/
  .headingStyle {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    margin-bottom: 35px;
    margin-top: 50px;
    text-align: right;
    margin-right: 10px;
    padding-right: 15px;
  }
  .headingLine {
    display: inline-block;
    flex-grow: 1;
    height: 4px;
    background-color: #747474;
    margin-top: 18px;
    margin-right: 20px;
  }
}
